<form class="so-pg-task-novo--form clearfix" [formGroup]="props.form.formGroup">
	<so-input label="Cliente" placeholder="Digite aqui o nome do cliente" [value]="props.form.formGroup.get('variables.cliente.value').value" [inputConfig]="{ validation: { type: props.form.validations.cliente.type, message: props.form.validations.cliente.message} }" (hasChanged)="handleFieldChange(props.form.formGroup, store, props.page, $event, 'cliente')"></so-input>
	
	<so-input label="CNPJ" placeholder="Digite aqui seu CNPJ" [value]="props.form.formGroup.get('variables.cnpj.value').value" [inputConfig]="{ validation: { type: props.form.validations.cnpj.type, message: props.form.validations.cnpj.message} }" (hasChanged)="handleFieldChange(props.form.formGroup, store, props.page, $event, 'cnpj')"></so-input>
	
	<so-input label="Data da visita" inputType="date" placeholder="Qual a data da visita?" [value]="props.form.formGroup.get('variables.dataVisita.value').value" [inputConfig]="{ validation: { type: props.form.validations.dataVisita.type, message: props.form.validations.dataVisita.message} }" (hasChanged)="handleFieldChange(props.form.formGroup, store, props.page, $event, 'dataVisita')"></so-input>
	
	<so-button text="Criar task" (hasClicked)="handleSubmission()" *ngIf="props.page === 'tasklist/novo'"></so-button>
	
	<so-button text="Reivindicar" *ngIf="props.page === 'tasklist/editar' && !props.task.claimed" (hasClicked)="handleClaim()"></so-button>
	
	<so-button text="Aprovar" *ngIf="props.page === 'tasklist/editar' && props.task.claimed" (hasClicked)="handleSubmission()"></so-button>
</form>