.so-tasklist {
	width: 100%;
	
	&--head, &--row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		
		.so-tasklist--column {
			width: 25%;
		}
	}
	
	&--head {
		padding: 0 27px;
		
		.so-tasklist--column {
			font-family: 'Roboto';
			font-size: 12px;
			color: #90A4AE;
			letter-spacing: 0.5px;
			line-height: 14px;
			text-transform: uppercase;
		}
	}
	
	&--body {
		margin-top: 12px;
		box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.10);
		
		.so-tasklist {
			&--row {
				padding: 24px 27px;
				border: 1px solid #E9EFF4;
				background: #fff;
			}
			
			&--column {
				font-family: 'Roboto';
				font-size: 14px;
				font-weight: 500;
				color: #31393C;
				letter-spacing: -0.07px;
				line-height: 16px;
				
				.btn {
					font-family: 'Roboto';
					font-weight: 500;
					font-size: 12px;
					color: #1DEC3A;
					letter-spacing: 0.06px;
					line-height: 14px;
					padding: 2px 10px;
					display: table;
					border-radius: 2px;
					text-decoration: none;
					text-transform: uppercase;
					background-color: rgba(29, 236, 58, 0.1);
				}
			}
		}
	}
}